<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/37d01ba303.js"></script>
    <meta charset="UTF-8">
    <title>Add Contract</title>
</head>
<body>
<div class="container my-4">
    <div class="col-md-4">


        <form action="#" name="Add new contract" th:action="@{/api}" th:method="POST" th:object="${user}">
            <div class="mb-3">
                <label class="form-label" for="userName">Name</label>
                <input aria-describedby="emailHelp" class="form-control" id="userName" required
                       th:field="*{userName}" type="text">
                <div style="color: red" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">Name
                    error
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastName">Surname</label>
                <input class="form-control" id="lastName" required th:field="*{userSurname}" type="text">
                <div style="color: red" th:errors="*{userSurname}" th:if="${#fields.hasErrors('userSurname')}">
                    Surname error
<!--                </div>-->

                <!--            <div class="mb-3">-->
                <!--                <label class="form-label" for="email">Date of Birth</label>-->
                <!--                <input aria-describedby="emailHelp" class="form-control" id="email" required-->
                <!--                       th:field="*{userBirthDate}" type="email">-->
                <!--            </div>-->


                <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>